.tiny-flex {
    display: flex;
    align-items: center;
    gap: 1px;
}

.emoji-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    max-height: 300px;
    overflow: scroll;
    transition: height 1s;
}

.emoji-box button {
    font-size: xx-large;
    text-shadow: 3px 3px var(--border);
    transition: text-shadow 0.3s;
}

.emoji-box button:hover {
    padding: 0;
    text-shadow: 3px 3px var(--highlight);
}

.emoji-search {
    background-color: transparent;
    color: var(--gui-fg);
    border: none;
    outline: none;
}

@media screen and (max-width: 500px) {
    .tiny-flex {
        display: block;
    }
}