@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

@keyframes shine {
    0%, 100% {
        background-color: var(--gui-bg);
        border-color: var(--gui-border);
    }
    50% {
        background-color: var(--highlight-bg);
        border-color: var(--highlight);
    }
}

body {
    background-color: var(--doc-bg);
    color: var(--text-fg);
    font-family: var(--font);
    overflow: hidden;
    background-image: var(--wallpaper-src) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0%;
    animation: fade-in 1s forwards;
}

* {
    transition: background-color 0.5s, color 0.5s;
}

.short-document,
.document {
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    transition: max-width 1s;
    max-width: var(--document-width);
    margin: 0 auto;
    z-index: 2;
}

.document {
    height: calc(100vh - 100px);
    padding-bottom: 200px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 12vw;
    width: calc(100% - 12vw);
    padding: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#bottom-bar textarea {
    font-size: larger;
    width: 75%;
    height: 40px;
    background-color: var(--gui-bg);
    backdrop-filter: blur(10px);
    color: var(--gui-fg);
    border: 1px solid var(--gui-border);
    border-radius: 20px;
    outline: none;
    resize: none;
    padding: 10px;
    transition: height 0.5s, width 0.5s;
}

#bottom-bar textarea:hover,
#bottom-bar textarea:focus {
    height: 100px;
}

/* 🌸 Responsividade MÁXIMA para mobile cutie */
@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    #document,
    .document {
        height: auto;
        padding-bottom: 100px;
    }

    #bottom-bar {
        left: 0;
        width: 100%;
        padding: 5px;
    }

    #bottom-bar textarea {
        width: 100%;
        border-radius: 15px;
        height: 40px;
    }

    #bottom-bar textarea:focus {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 90vh;
        z-index: 999;
        font-size: large;
        border-radius: 0;
        padding: 20px;
        background-color: var(--gui-bg);
    }
}

#focus-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: start;
}

.card {
    display: none;

    color: var(--gui-fg);
    background-color: var(--gui-bg);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid var(--gui-border);
    padding: 10px;
    width: 300px;

    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    z-index: 4;
}

/* __ kbd _____________________________________________________________________ */

kbd {
    display: inline-block;
    background-color: var(--gui-highlight-bg);
    border: 1px solid var(--gui-highlight);
    border-bottom: 3px solid var(--gui-highlight);
    border-radius: 5px;
    color: var(--gui-highlight);
    padding: 3px;
    padding-bottom: 0px;
    transform: translateY(-2px);
}

/* __ icon ____________________________________________________________________ */

icon {
    font-size: x-large;
    font-family: "Material Symbols Outlined";
    margin-right: 3px;
    border-radius: 3px;
    vertical-align: middle;

    transition: background-color 0.3s, padding 0.3s, color 0.3s, vertical-align 0.3s;
}

.document icon:hover {
    font-size: initial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--highlight);
    background-color: var(--highlight-bg);
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: initial;
}

/* __ Scrollbar _______________________________________________________________ */
/* ____ Firefox _______________________________________________________________ */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
/* ____ Chromium ______________________________________________________________ */
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gui-border);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gui-border);
}

/* __ Selection _______________________________________________________________ */
::selection,
::-moz-selection {
    color: var(--doc-bg);
    background: var(--gui-highlight);
}

/* __ Titles __________________________________________________________________ */

.document h1,
.document h2,
.document h3,
.document h4,
.document h5,
.document h6 {
    color: var(--title-fg);
    font-family: var(--font-title);
    transition: all 0.3s;
}

/* __ Tables __________________________________________________________________ */

.document table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border-bottom: 2px solid var(--border);
    overflow: scroll;
}

.document th,
.document td {
    border: 1px solid var(--border);
    padding: 5px;
}

.document th {
    background-color: var(--box-bg);
    font-weight: 100;
}

.document th:first-child {
    border-top-left-radius: 10px;
}

.document th:last-child {
    border-top-right-radius: 10px;
}

.document tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.document tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.document tr {
    transition: all 0.3s;
}

.document tr:hover {
    background-color: var(--box-bg);
}

/* __ Codeblock _______________________________________________________________ */

.document code {
    /* font-size: larger; */
    background-color: var(--box-bg);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    border: 1px solid var(--border);
    font-family: var(--font-mono);
}

.document pre {
    background-color: var(--box-bg);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--border);
    border-bottom: 2px solid var(--border);
    overflow: scroll;
}

.document pre code {
    background-color: none;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
}

/* __ Links ___________________________________________________________________ */

.card button,
a {
    color: var(--highlight);
    text-decoration: none;
    border-radius: 3px;

    background: linear-gradient(90deg, var(--highlight-bg) 0%, var(--highlight-bg) 50%, #00000000 50%, #00000000 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: 500ms padding, 200ms background-position;

    outline: none;
    border: none;
    font-size: medium;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.short-document button:hover,
.short-document a:hover,
.short-document button:focus,
.short-document a:focus,
.card button:focus,
.card a:focus,
.document a:focus,
.card button:hover,
.card a:hover,
.document a:hover {
    background-position: 0 0;
    padding-left: 5px;
    padding-right: 5px;
}

.short-document button,
.short-document a,
.card button,
.card a {
    color: var(--gui-highlight);
    background: linear-gradient(90deg, var(--gui-highlight-bg) 0%, var(--gui-highlight-bg) 50%, #00000000 50%, #00000000 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: 500ms padding, 200ms background-position;
}

/* __ Images __________________________________________________________________ */

.document video,
.document iframe,
img {
    border-radius: 15px;
    transition: all 0.3s;
    max-height: 400px;
}

.document iframe {
    border:1px solid var(--border);
}

@media screen and (max-width: 500px) {
    .document iframe,
    img {
        width: 100%;
        max-height: initial;
    }
}

/* __ Separators ______________________________________________________________ */

.card hr,
.document hr {
    border: none;
    border-top: 1px solid var(--border);
}

div.docdiv,
.document div {
    background-color: var(--box-bg);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 10px;
    margin-top: 5px;
}

.document details {
    background-color: var(--box-bg);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 10px;
}

.document details summary { 
    cursor: pointer;
}

.document details[open]{
    background-color: var(--highlight-bg);
    border: 1px solid var(--highlight);
}

/* __ Task list _______________________________________________________________ */

/* Styles for each task list item */
.document .task-list-item {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px 0;
}

/* Styles for the checkbox inside each task list item */
.document .task-list-item input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border);
    border-radius: 50%;
    background-color: #00000000;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

/* Styles when the checkbox is checked */
.document .task-list-item input[type="checkbox"][checked]::before {
    color: var(--highlight);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles for the checkbox when it's checked */
.document .task-list-item input[type="checkbox"][checked] {
    background-color: var(--highlight);
    border-color: var(--highlight-bg);
}

/* __ blockquote list _________________________________________________________ */

.document blockquote {
    border-left: 3px solid var(--border);
    padding-left: 8px;
}

.document del:hover {
    text-decoration: none;
}