@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    /* colors */
    --bg: #242424;
    --bg2: #393939;
    --bg2-transparent: #39393988;
    --text: #dddddd;
    --text2: #ffffff;
    --border: #666666;
    --highlight: #44caff;
    --highlightbg: #44caff33;

    /* sizes */
    --max-document-width: 1200px;

    /* typefaces */
    --font-general: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-mono: monospace;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font);
    overflow: hidden;
}

.document {
    border-radius: 15px;
    padding: 10px;
    width: 90%;
    max-width: var(--max-document-width);
    margin: 0 auto;
    z-index: 2;
    margin-bottom: 10px;
    height: calc(100vh - 100px);
    padding-bottom: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 12vw;
    width: 100%;
    padding: 10px;
    z-index: 3;
}

textarea {
    font-size: larger;
    width: 75%;
    height: 75px;
    background-color: var(--bg2-transparent);
    backdrop-filter: blur(10px);
    color: var(--text2);
    border: 1px solid var(--border);
    border-radius: 15px;
    outline: none;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

.document icon {
    font-size: x-large;
    font-family: "Material Symbols Outlined";
    margin-right: 3px;
    border-radius: 3px;
    vertical-align: middle;

    transition: background-color 0.3s, padding 0.3s, color 0.3s, vertical-align 0.3s;
}

.document icon:hover {
    font-size: initial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--highlight);
    background-color: var(--highlightbg);
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: initial;
}

/* __ Titles __________________________________________________________________ */

.document h1,
.document h2,
.document h3,
.document h4,
.document h5,
.document h6 {
    color: var(--text2);
    font-family: var(--font-title);
    transition: all 0.3s;
}

/* __ Tables __________________________________________________________________ */

.document table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    border-bottom: 2px solid var(--border);
    overflow: scroll;
}

.document th,
.document td {
    border: 1px solid var(--border);
    padding: 5px;
}

.document th {
    background-color: var(--bg2);
    font-weight: 100;
}

.document th:first-child {
    border-top-left-radius: 10px;
}

.document th:last-child {
    border-top-right-radius: 10px;
}

.document tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.document tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.document tr {
    transition: all 0.3s;
}

.document tr:hover {
    background-color: var(--bg2);
}

/* __ Codeblock _______________________________________________________________ */

.document code {
    /* font-size: larger; */
    background-color: var(--bg2);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    border: 1px solid var(--border);
    font-family: var(--font-mono);
}

.document pre {
    background-color: var(--bg2);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--border);
    border-bottom: 2px solid var(--border);
    overflow: scroll;
}

.document pre code {
    background-color: none;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: none;
}

/* __ Links ___________________________________________________________________ */

.document a {
    color: var(--highlight);
    text-decoration: none;
    border-radius: 3px;

    background: linear-gradient(90deg, var(--highlightbg) 0%, var(--highlightbg) 50%, #00000000 50%, #00000000 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: 500ms padding, 200ms background-position;
}

.document a:hover {
    background-position: 0 0;
    padding-left: 5px;
    padding-right: 5px;
}

/* __ Images __________________________________________________________________ */

.document img {
    border-radius: 15px;
    transition: all 0.3s;
    max-height: 400px;
}

@media screen and (max-width: 500px) {
    .document img {
        width: 100%;
        max-height: initial;
    }
}

/* __ Separators ______________________________________________________________ */

.document hr {
    border: none;
    border-top: 1px solid var(--border);
}

.document div {
    background-color: var(--bg2);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 10px;
}

.document details {
    background-color: var(--bg2);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 10px;
}

.document details summary { 
    cursor: pointer;
}

.document details[open]{
    background-color: var(--highlightbg);
    border: 1px solid var(--highlight);
}

/* __ Task list _______________________________________________________________ */

/* Styles for each task list item */
.document .task-list-item {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 5px 0;
}

/* Styles for the checkbox inside each task list item */
.document .task-list-item input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border);
    border-radius: 50%;
    background-color: #00000000;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

/* Styles when the checkbox is checked */
.document .task-list-item input[type="checkbox"][checked]::before {
    color: var(--highlight);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles for the checkbox when it's checked */
.document .task-list-item input[type="checkbox"][checked] {
    background-color: var(--highlight);
    border-color: var(--highlightbg);
}

/* __ blockquote list _________________________________________________________ */

.document blockquote {
    border-left: 3px solid var(--border);
    padding-left: 8px;
}

.document del:hover {
    text-decoration: none;
}