/*
    Use `<!-- document.style.{--var-name}=[value] -->` on your document to modify values.

    e.g. `<!-- document.style.--text-fg=#ff0000 -->` will make document text red.
         `<!-- document.style.--wallpaper=url("https://picsum.photos/1920") -->` will draw a wallpaper.
*/

:root {
    /* colors */
    --doc-bg: #242424;/*........................................... document background color                 */
    --box-bg: #393939;/*........................................... boxes/divs/containers background color    */
    --text-fg: #dddddd;/*.......................................... normal text foreground color              */
    --title-fg: #ffffff;/*......................................... title background color                    */
    --border: #666666;/*........................................... boxes/divs/containers outline color       */
    --highlight: #44caff;/*........................................ interactive objects color                 */
    --highlight-bg: #44caff33;/*................................... interactive objects background color      */

    /* wallpaper */
    --wallpaper-src: url('');/*...................................... wallpaper url/file path                   */

    /* gui */
    --gui-fg: #ffffff;/*........................................... graphical user interface text color       */
    --gui-bg: #39393999;/*......................................... graphical user interface background color */
    --gui-border: #666666;/*....................................... graphical user interface outline color    */
    --gui-highlight: #44caff;/*.................................... interactive objects color                 */
    --gui-highlight-bg: #44caff33;/*............................... interactive objects background color      */

    /* sizes */
    --document-width: 1200px;/*...................................... width of the document                     */

    /* typefaces */
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*....... normal text typeface                      */
    --font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*. titles typeface                           */
    --font-mono: monospace;/*........................................ codeblock typeface                        */
}
